<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>中國信託尾牙抽獎系統</title>
<!-- <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico" th:href="@{/img/favicon.ico}"> -->
<link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.ico" th:href="@{/img/favicon.ico}">
<!-- Bootstrap core CSS-->
<!-- <link href="/plugin/bootmatch/bootstrap.min.css" > -->
<link href="../../static/plugin/bootmatch/bootstrap.min.css" th:href="@{/plugin/bootmatch/bootstrap.min.css}" rel="stylesheet">

<!-- Custom fonts for this template-->
<link href="../../static/plugin/fontawesome/css/all.min.css" th:href="@{/plugin/fontawesome/css/all.min.css}" rel="stylesheet" type="text/css">

<!-- Page level plugin CSS-->
<link href="../../static/plugin/datatables/dataTables.bootstrap4.css" th:href="@{/plugin/datatables/dataTables.bootstrap4.css}" rel="stylesheet">

<!-- Custom fonts for this template -->
<link th:href="@{/css/style.css}" href="../../static/css/style.css" rel="stylesheet">
<link th:href="@{/css/admin.css}" href="../../static/css/admin.css" rel="stylesheet">

</head>

