<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header">
</head>
<body>
	<div th:include="navbar"></div>
	<div class="container">
		<div class="row">
		<div class="col-12">
			<table id="maintable" class="table table-bordered" style="width: 100%">
				<thead>
					<tr>
						<th scope="col">活動代號</th>
						<th scope="col">活動名稱</th>
						<th scope="col">抽獎名單</th>
						<th scope="col">名單人數</th>
						<th scope="col">已中獎人數</th>
						<th scope="col">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="list : ${events}">
						<td>[[${list.eventId}]]</td>
						<td>[[${list.eventName}]]</td>
						<td>[[${list.usrPoolObj.poolName}]]</td>
						<td>[[${list.usrPoolObj.poolcnt}]]</td>
						<td>[[${list.winnerCount}]]</td>
						<td><button class="btn btn-primary" th:attr="data-uid=${list.uid}" onclick="exportXls(this)">匯出資料</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	</div>
	<form id="f1" name="form1" target="_blank">
		<input type="hidden" name="uid" />
	</form>
	<div th:replace="footer"></div>
</body>
<script>
var $table = $('#maintable').DataTable();


function exportXls(obj){
    var uid = $(obj).attr("data-uid");
   	$("[name=uid]").val(uid);
   	$("#f1").attr("action","exportFile");
   	$("#f1").attr("method","post");
   	$("#f1").submit();
}

</script>
</html>