<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<section id="footer">
	<div class="container-fluid footer">
		<div class="row">
			<div class="offset-7 col-5 text-right">
				<a id="stopbtn" class="btn btn-outline-warning btn-lg" href="#" style="display:none;">停止抽獎</a>
				<a id="winbtn" class="btn btn-outline-warning btn-lg" href="#" data-toggle="modal" data-target="#listmodal">中獎名單</a>
				&nbsp;
				<a class="btn btn-outline-warning btn-lg" href="/">回首頁</a>
				&nbsp;
				<input type="hidden" id="prizeCnt" value="1" size="1" />
				<input type="text" class='btn btn-outline-warning btn-lg p-lastcnt' size="2" value="0"/>
			</div>
		</div>
	</div>
</section>