<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header">
</head>
<body>
	<div th:include="navbar"></div>
	<!-- <div class="container">
		<table class="table table-bordered" style="width: 100%">
			<thead>
				<tr>
					<th width="70%" scope="col">活動名稱</th>
					<th scope="col">操作</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div> -->
	<!-- <div class="card-deck-wrapper">
							<th:block th:each="list,i : ${result}">
								<div class="card-deck">
									<div class="card">
										<div class="card-header" th:text="${list.eventName}"></div>
										<div class="card-block"></div>
										<div class="card-footer">
											<input type="button" class="btn btn-primary" value="詳細資料" />
											<input type="button" class="btn btn-success" value="抽獎作業" />
											<input type="button" class="btn btn-danger" value="刪除資料" />
										</div>
									</div>
								</div>
							</th:block>
						</div> -->

	<div th:replace="footer"></div>
	<script th:src="@{/js/index.js}" src="/js/index.js"></script>
</body>
</html>